<h1>Welcome to Tic-Tac-Toe</h1>
<h2>About Tic-tac-toe:</h2>
<p>
Also called Noughts and crosses (in the UK, Australia, New Zealand, South Africa, India and the rest of the British Commonwealth countries), is a pencil-and-paper game for two players, X and O, who take turns marking the spaces in a 3×3 grid. The X player usually goes first. The player who succeeds in placing three respective marks in a horizontal, vertical, or diagonal row wins the game. This explanation comes from Wikipedia and you can learn more about it by clicking <a href="http://en.wikipedia.org/wiki/Tic-tac-toe">here</a>.
</p>
<p>
	Who would you like to start? 
	<%= link_to "You", board_path %> or the <%= link_to "Computer", board_path %>
</p>
<!--if the computer starts jump to to screen where the computer has it's first move.
else go to blank board and allow user to select square.
>