<h1>Welcome to Tic-Tac-Toe</h1>
<p>
	Who would you like to start? 
	<%= link_to "You", board_path %> or the <%= link_to "Computer", board_path %>
</p>
<!--if the computer starts jump to to screen where the computer has it's first move.
else go to blank board and allow user to select square.
>